{%  load static %} 



<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><h3>PortFolio</h3></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-body">
                            <img src="{% static '/images/My_photo.jpeg'  %}">
                            <hr>
                            <b style="text-align:center;"> Pooja Bhalerao </b>
                            <p>poojagbhalerao1999@gmail.com</p>
                            <p>linkedin.com/in/pooja-bhalerao-a94148337</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card card-body">
                            <b>Objective</b>
                            <p>Put my entire potential and skills to take the company to next level. Willing to work in a challenging
                                position with a growing Organization where I can utilize my technical and interpersonal skills to serve
                                the organization and enhanced the same.
                            </p>  
                        </div>
                        
                        <div class="card card-body">
                            <b>Education</b>
                            <p> 
                                MASTER`S OF COMPUTER APPLICATION 2022 –2024<br>
                                INSTITUTE - VIDYA PRATISHTHAN’S INSTITUTE OF INFORMATION TECHNOLOGY, BARAMATI<br>
                                PERCENT – 73%
                            </p>
                            <p>
                                BACHELOR OF COMPUTER APPLICATION 2018 –2021<br>
                                INSTITUTE - VIDYA PRATISHTHAN’S ART’S, SCIENCE & COMMERCE COLLEGE, BARAMATI<br>
                                PERCENT – 79%
                            </p>    
                        </div>   
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="container d-flex">
                            <div class="card card-body">
                                <b>Skills</b>
                                <ul type="bullet">
                                    <li>HTML5</li>
                                    <li>CSS</li>
                                    <li>Bootstrap</li>
                                    <li>Python</li>
                                    <li>Django</li>
                                    <li>Sql</li>
                                    <li>Mysql</li>
                                    <li>Git</li>
                                    <li>Linux</li>
                                    <li>PowerBI</li>
                                    <li>Docker</li>
                                    <li>AWS</li>
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                   
                    <div class="col-md-6">
                        <div class="card card-body">
                            <b>Internships</b>
                            <ul>
                                <li>
                                    <b>PHN technologies</b> <br>        
                                      Jan 2023-Jun 2023
                                    <p>At PHN Technologies as ”Web Developer” .<br>
                                        Where I created landing pages using front end languages<br>
                                        </p>
                                </li>
                                <li>
                                    <b>AINexus</b><br>
                                    Nov 2023-Mar 2024
                                    <p>AT AINEXUS as “Data Engineer” .<br>
                                        Where I learnt some new technologies to apply them on to the project, Docker ,<br>
                                        django ,AWS(S3,Lambda,EC2,SES,RDS,Step function), Linux ,Git were some of those<br>technologies I gone through.</p>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body">
                            <b>Projects in Graduation</b>
                            <p><u>Student Management System ,Ecommerce Website</u><br>
                               <ul>
                                <li>Working on frontend</li>
                                <li>Performed the CRUD at backend</li>
                                <li>Handling the admin panel</li>

                               </ul>
                               </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-body">
                            <b>Projects in Post Graduation</b>
                            <p><u>ML Based House Price Prediction</u><br>
                            <ul>
                                <li>Worked with Aws Services(S3,Lambda,EC2,Step Function)</li>
                                <li>And creating Data pipelines</li>
                                <li>Dockerizing it into containers</li>
                            </ul></p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body">
                            <b>Activities</b>
                            <p>Strengths – Dedicated , Eager to learn, Positive Attitude, collaborative nature<br>
                                Languages – English, Hindi , Marathi<br>
                                Certificates – Front End Developer, Python ,Machine learning , JavaScript, Introduction to Data Analytics</p>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-body">
                            <b>Awards</b>
                            <ul>
                                <li>In Graduation I was asked to work as “Front End Developer” in small scale company istepup.</li>
                                <li>Participated in Inter-collegiate competitions like quiz , poster etc</li>
                                <li>Also received 3rd price in quiz competition</li>
                                <li>Participated in sports(Crricket)</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        
    </body>
</html>